body { 
    margin: 0; padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
}

#map canvas {
    cursor: grabbing;
    }

#main {
    
}

#info {
    background: rgba(255, 255, 255, 0.8);
    }

#menu {

    }
 
#menu a {
    
    }
 
#menu a:hover {
    
    }
